.git
.github
.venv
.build-linux-venv
.build-macos-venv
__pycache__
build
release-artifacts
dist_desktop_ide
desktop_ide
vscode-norscode
tmp
!build/
build/*
!build/bootstrap_compiler_bundle_ncb_data.c
!build/native_elf_compiler_bundle_ncb_data.c
!build/mv_bootstrap_stub_manifest_dispatch.inc
*.pyc
*.c
!tools/c_minimal_vm/*.c
*.o
*.so
*.dylib
*.dll
*.exe
*.zip
*.tar.gz
