[Unit]
Description=Norscode app service
After=network.target

[Service]
Type=simple
WorkingDirectory=/tmp/norscode_startproject_template_full
ExecStart=/usr/local/bin/nc run /tmp/norscode_startproject_template_full/app.no
Restart=on-failure

[Install]
WantedBy=multi-user.target
